* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* This can be removed */
    color: #333;
}

.container {
    display: flex;
}

.side-nav {
    width: 170px;
    background-color: #2c3e50;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.side-nav ul {
    list-style-type: none;
}

.side-nav li {
    margin: 15px 0;
}

.side-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.side-nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    width: calc(100% - 240px);
    margin-left: 210px;
}

section {
    margin: 30px 0;
}

#cpu-usage-chart, #memory-usage-chart, #network-traffic-chart, #correlation-heatmap-chart, #distribution-chart {
    width: 100%;
    height: 400px;
}


